@{
ViewBag.Title = "Ticket overview";
}

@model IReadOnlyCollection<TicketOverviewModel>

    <p>@ViewBag.Title</p>

    <table>
        <tr>
            <th>Number</th>
            <th>Tracker</th>
            <th>Assignee</th>
            <th>Created</th>
            <th>Description</th>
            <th>Progress</th>
            <th></th>
        </tr>
        @foreach (var ticket in Model)
        {
        <tr>
            <td>@ticket.Number</td>
            <td>@ticket.Tracker</td>
            <td>@ticket.Assignee</td>
            <td>@ticket.Created</td>
            <td>@ticket.Description</td>
            <td>@ticket.Progress</td>
            <td>Action buttons</td>
        </tr>
        }
    </table>
