@{
ViewBag.Title = "About";
}

<p>This piece of software has been built with ASP.NET Core on version .NET 8.0</p>
<p>Libraries used:</p>
<ul>
    <li>libman</li>
    <li>jQuery 3.6.0</li>
</ul>

<p>You can freely change this software and redistribute to your liking.</p>
