@{
    ViewBag.Title = "Tracker";
}
@section Scripts {
    <script src="~/scripts/jquery-validation/jquery.validation.min.js"></script>
    <script src="~/scripts/jquery-validation-unobtrusive/jquery.validation.unobtrusive.min.js"></script>
}

