<!DOCTYPE html>
<html>

<head>
    <title>Bugtinguish: @ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/styles.css" />
</head>

<body>
    <header>Welcome to Bugtinguish</header>
    <section>
        <h2>@ViewBag.Title</h2>
        <menu>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-controller="Ticket" asp-action="Index">Tickets</a></li>
            </ul>
        </menu>
        @RenderBody()
    </section>
    <footer>Copyleft 2024 Jean Patrick Kocherscheidt</footer>

    <script src="~/scripts/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>

    @RenderSection("Scripts", false)
</body>

</html>
